{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.customer_login'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="ui header" style="margin: 40px 0; font-size: 26px !important;">
        <i class="circular user icon"></i>
        <div class="content">
            {{ 'sylius.ui.customer_login'|trans }}
            <div class="sub header">{{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}</div>
        </div>
    </h1>

    <div class="ui padded segment">
        <div class="ui column very relaxed stackable grid">
            <div class="column">
                <form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post" class="ui loadable form" novalidate="novalidate">
                    <div class="required field">
                        <label for="_auth_code" class="required">{{ 'abenmada_multi_factor_authentication_plugin.ui.multi_factor_authentication_code' | trans }}</label>

                        {% if authenticationError %}
                            <input id="_auth_code" type="text" name="{{ authCodeParameterName }}" autocomplete="one-time-code" required="required" autofocus/>
                            <div class="ui red pointing label sylius-validation-error">{{ authenticationError | trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
                        {% else %}
                            <input id="_auth_code" type="text" name="{{ authCodeParameterName }}" autocomplete="one-time-code" required="required" autofocus/>
                        {% endif %}
                    </div>

                    <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">

                    <button type="submit" class="ui blue submit button">{{ 'abenmada_multi_factor_authentication_plugin.ui.login' | trans }}</button>

                    <a href="{{ logoutPath }}" class="ui right floated button">{{ 'abenmada_multi_factor_authentication_plugin.ui.cancel' | trans }}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

