{% extends '@SyliusUi/Layout/centered.html.twig' %}

{% block title %}{{ sylius.channel.name }} | {{ 'sylius.ui.administration_panel_login'|trans }}{% endblock %}

{% block stylesheets %}
    {{ sylius_template_event('sylius.admin.layout.stylesheets') }}
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">

            {% include "@SyliusAdmin/Security/_logo.html.twig" %}

            <form action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post" class="ui large loadable form" novalidate>
                <div class="ui left aligned very padded segment">
                    <div class="required field">
                        <label for="_auth_code" class="required">{{ 'abenmada_multi_factor_authentication_plugin.ui.multi_factor_authentication_code' | trans }}</label>

                        {% if authenticationError %}
                            <input id="_auth_code" type="text" name="{{ authCodeParameterName }}" autocomplete="one-time-code" required="required" autofocus/>
                            <div class="ui red pointing label sylius-validation-error">{{ authenticationError | trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
                        {% else %}
                            <input id="_auth_code" type="text" name="{{ authCodeParameterName }}" autocomplete="one-time-code" required="required" autofocus/>
                        {% endif %}
                    </div>

                    <input type="hidden" name="_csrf_admin_security_token" value="{{ csrf_token('admin_authenticate') }}">

                    <button type="submit" class="ui fluid large primary submit button">{{ 'abenmada_multi_factor_authentication_plugin.ui.login' | trans }}</button>

                    <div class="ui divider"></div>

                    <a href="{{ logoutPath }}" class="ui fluid button">{{ 'abenmada_multi_factor_authentication_plugin.ui.cancel' | trans }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ sylius_template_event('sylius.admin.layout.javascripts') }}
{% endblock %}
